.contact-form-container {
    border: 10px solid #C6B79B;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75vw;
    height: 60vh;
    margin: 2rem auto;
}

.gray-placeholder {
    width: 65vw;
    background-color: lightgray;
    height: 5vh;
    margin: 0.5rem 1rem;

    p {
        margin: 1rem;
    }
}

.lg-gray-placeholder {
    width: 65vw;
    background-color: lightgray;
    height: 20vh;
    margin: 0.5rem 1rem;

    p {
        margin: 1rem;
    }
}