#about-section {
    border-top: 3px solid #C6B79B;
    padding: 3rem 0;
}

.description-content {
    margin: 1rem 2rem;

    p {
        margin: 2rem;
        line-height: 1.5;
        text-indent: 40px;
    }
}

@media screen and (max-width: 768px) {
    #about-section {
        h1 {
            font-size: 5vw;
        }

        .description-content {
            p {
                font-size: 2.5vw;
            }
        }
    }
    
}