#email-container {
    display: flex;
    height: 135px;
    justify-content: center;
    margin: 0 0 1rem 0;
    padding: 0;

    .placeholder {
        background-color: #C6B79B;
        border: transparent;
        border-radius: 20px;
        color: white;
        display: flex;
        justify-content: space-evenly;
        width: 15vw;

        p {
            font-size: 1.75vw;
        }

        #email-icon {
            filter: invert(1);
            height: 2vw;
            width: 2vw;
        }
    }
}

@media screen and (max-width: 768px) {
    #email-container {
        .placeholder {
            width: 33.333vw;

            p {
                font-size: 3vw;
            }

            #email-icon {
                filter: invert(1);
                height: 4vw;
                width: 4vw;
            }
        }
    }
    
}