section {
    margin: 1rem 0;
}

#placeholder-section {
    padding: 3vw;
}

#placeholder-title {
    color: black;
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.component {
    border-bottom: 3px solid #41462A;
    display: flex;
    padding: 1.5rem 0;

    h2 {
        color: #41462A;
    }
    
}

.component-img {
    border: 3px solid #C6B79B;
    border-radius: 50%;
    margin: 0 2rem;
}

.content {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: #C6B79B;
    border: transparent;
    border-radius: 10px;
    color: white;
    margin-top: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    width: 20%;
}

.align-right {
    align-self: flex-end;
}

@media screen and (max-width: 768px) {
    .component {
        align-items: center;
        flex-direction: column;

        h2 {
            font-size: 5vw;
            margin-top: 2vh;
        }

        p {
            font-size: 2.5vw;
        }

        button {
            font-size: 2.5vw;
            width: 33.333vw;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .content {
        align-items: center;
        flex-direction: column;
    }

    #reversed-component {
        align-items: center;
        flex-flow: wrap-reverse;

        img {
            margin-left: auto;
            margin-right: auto;
        }

    }
    
}
