.services-component {
    border-top: 5px solid #C6B79B;
    margin: 3rem;
}

.h1-title {
    color: black;
    padding: 2rem 0rem 0rem 0rem;
    text-align: center;
    text-transform: uppercase;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0rem 2rem;
    padding: 1rem;
}

.services-content-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 25%;

    p {
        line-height: 1.25;
        text-align: center;
    }
}

.services-icon {
    border: transparent;
    margin: 2rem;
    width: 75px;
    height: 75px;
}