.services-component {
    background-color: rgb(224, 218, 182);
    margin: 3rem;
}

.h1-title {
    color: black;
    padding: 2rem 0rem 0rem 0rem;
    text-align: center;
    text-transform: uppercase;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 0rem 2rem;
}

.services-content-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 20%;
}

.services-icon {
    border: transparent;
    border-radius: 50%;
    margin: 2rem;
    width: 75px;
    height: 75px;
}