section {
    margin: 1rem 0;
}

#placeholder-section {
    padding: 5rem 5rem 2rem 5rem;
}

#placeholder-title {
    color: black;
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.component {
    border-bottom: 3px solid #41462A;
    display: flex;
    padding: 1.5rem 0;

    h2 {
        color: #41462A;
    }
    
}

.component-img {
    border: 3px solid #C6B79B;
    border-radius: 50%;
    margin: 0 2rem;
}

.content {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: #C6B79B;
    border: transparent;
    border-radius: 10px;
    color: white;
    margin-top: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    width: 20%;
}

.align-right {
    align-self: flex-end;
}
