#wrapper {
    border-bottom: 3px solid #C6B79B;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 100%;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

#nav-list {
    display: flex;

    li {
        list-style: none;
        margin: 1.5vw 3vw;
        padding: 5px;
    }
}

.nav-link {
    color: #C6B79B;
    font-size: 1.5vw;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link:hover {
    border-bottom: 3px solid #C6B79B;
}

.active-link {
    border-bottom: 3px solid #C6B79B;
    color: rgb(46, 45, 45);
}
