.hero-imgs {
    display: flex;
    padding: 0 1rem;
}

.hero-img {
    background-color: lightgray;
    border: 5px solid #C6B79B;
    border-radius: 10px;
    height: 350px;
    margin: 3rem 1rem;
    width: 33.333%;
}

@media screen and (max-width: 768px) {
    .hero-imgs {
        align-items: center;
        flex-direction: column;
    }

    .hero-img {
        width: 80vw;
        margin: 2vh 2vw;
    }
    
}