#video-placeholder {
    align-items: center;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    height: 63vh;
    margin-top: 3rem;
    width: 100vw;

    p {
        font-size: 2vw;
    }
}