$font-stack: Helvetica, sans-serif;

body {
    font: 100% $font-stack;
    overflow-x: hidden;
}

h1 {
    font-size: 2.75vw;
    font-weight: bold;
}

h2 {
    color: black;
    font-size: 2vw;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
}


p {
    font-size: 1.25vw;
}

button {
    font-size: 1.33vw;
}