#wrapper {
  border-bottom: 3px solid #C6B79B;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 100%;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

#nav-list {
  display: flex;
}
#nav-list li {
  list-style: none;
  margin: 1rem 2rem;
  padding: 5px;
}

.nav-link {
  color: #C6B79B;
  font-size: 20px;
  padding: 5px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  border-bottom: 3px solid #C6B79B;
}

.active-link {
  border-bottom: 3px solid #C6B79B;
  color: #2e2d2d;
}

#video-placeholder {
  align-items: center;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  height: 600px;
  margin-top: 3rem;
  width: 100%;
}
#video-placeholder p {
  font-size: 2vw;
}

#email-container {
  display: flex;
  height: 135px;
  justify-content: center;
  margin: 0 0 1rem 0;
  padding: 0;
}
#email-container .placeholder {
  background-color: #C6B79B;
  border: transparent;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  width: 15vw;
}
#email-container .placeholder p {
  font-size: 1.75vw;
}
#email-container .placeholder #email-icon {
  filter: invert(1);
  height: 40px;
  width: 40px;
}

#mission-vision {
  align-items: center;
  background-color: #C6B79B;
  border-top: 6px solid #41462A;
  border-bottom: 6px solid #41462A;
  display: flex;
  flex-direction: column;
  font-size: 1.25vw;
  height: 300px;
  justify-content: space-evenly;
  line-height: 1.5;
  margin: -1rem;
  padding: 0 20rem;
  text-align: center;
  text-transform: uppercase;
}
#mission-vision h1 {
  color: #41462A;
}

section {
  margin: 1rem 0;
}

#placeholder-section {
  padding: 5rem 5rem 2rem 5rem;
}

#placeholder-title {
  color: black;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.component {
  border-bottom: 3px solid #41462A;
  display: flex;
  padding: 1.5rem 0;
}
.component h2 {
  color: #41462A;
}

.component-img {
  border: 3px solid #C6B79B;
  border-radius: 50%;
  margin: 0 2rem;
}

.content {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  background-color: #C6B79B;
  border: transparent;
  border-radius: 10px;
  color: white;
  margin-top: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  width: 20%;
}

.align-right {
  align-self: flex-end;
}

.contact-container {
  background-color: white;
  display: flex;
  height: 135px;
  justify-content: center;
  margin: -1rem 0 0 0;
  padding: 0;
  text-transform: uppercase;
}
.contact-container .placeholder {
  background-color: #C6B79B;
  border: transparent;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  width: 25vw;
}
.contact-container .placeholder p {
  font-size: 1.75vw;
}

footer {
  border-top: 3px solid #C6B79B;
  padding: 1rem;
  text-align: center;
  width: 100%;
}

#footer-list {
  display: flex;
  justify-content: center;
}
#footer-list li {
  list-style: none;
  margin: 1rem 2rem;
  padding: 5px;
}
#footer-list li a:hover {
  border-bottom: 3px solid #C6B79B;
}

#social-icons {
  margin: 1rem 0;
}

.icon {
  border: transparent;
  border-radius: 50%;
  margin: 0 0.5rem;
}

#mailto-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

body {
  font: 100% Helvetica, sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  color: black;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.placeholder {
  align-items: center;
  background-color: lightgray;
  color: black;
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 0.5rem;
  text-align: center;
  width: 25%;
}

.hero-imgs {
  display: flex;
  padding: 0 1rem;
}

.hero-img {
  background-color: lightgray;
  border: 5px solid #C6B79B;
  border-radius: 10px;
  height: 350px;
  margin: 3rem 1rem;
  width: 33.333%;
}

.services-component {
  border-top: 5px solid #C6B79B;
  margin: 3rem;
}

.h1-title {
  color: black;
  padding: 2rem 0rem 0rem 0rem;
  text-align: center;
  text-transform: uppercase;
}

.services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0rem 2rem;
  padding: 1rem;
}

.services-content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 25%;
}
.services-content-wrapper p {
  line-height: 1.25;
  text-align: center;
}

.services-icon {
  border: transparent;
  margin: 2rem;
  width: 75px;
  height: 75px;
}

#about-section {
  border-top: 3px solid #C6B79B;
  padding: 3rem 0;
}

.description-content {
  margin: 1rem 2rem;
}
.description-content p {
  margin: 2rem;
  line-height: 1.5;
  text-indent: 40px;
}

.contact-form-container {
  border: 10px solid #C6B79B;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1000px;
  height: 600px;
  margin: 2rem auto;
}

.gray-placeholder {
  width: 800px;
  background-color: lightgray;
  height: 50px;
  margin: 0.5rem 1rem;
}
.gray-placeholder p {
  margin: 1rem;
}

.lg-gray-placeholder {
  width: 800px;
  background-color: lightgray;
  height: 200px;
  margin: 0.5rem 1rem;
}
.lg-gray-placeholder p {
  margin: 1rem;
}

.team-container {
  border-bottom: 3px solid #C6B79B;
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 0;
}

.team-member img {
  border: 3px solid #C6B79B;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.team-member h3 {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
}

.bg-black {
  background-color: black;
  height: 100%;
  width: 100%;
}

.index-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.index-wrapper img {
  height: auto;
  width: 75%;
}

/*# sourceMappingURL=main.css.map */
